<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理之广告信息添加界面</title>
    <link href="__ROOT__/uploadify/uploadify.css" rel="stylesheet" />
    <link href="__css__/info.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- 页面底部 -->
        <include file="./Public/common/page.html" />
        <div id="page-wrapper" >
            <div id="page-inner">
                <!-- 商品信息管理 -->
                <div class="goods">
                    <div class="row" >
                        <div class="col-md-12">
                         <h2>商品信息管理</h2>
                         <hr />
                        </div>
                    </div>
                    <div class="goodsManage col-md-12">
                        <form  method="post" id="goodsInfoForm">
                            <div class="goodsInfo clearfix">
                                <p>商品名称：</p>
                                <input type="text" name="goodsName" class="goodsName" id="goodsName" required>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>商品图片：</p> 
                                <input id="goods_file_upload" name="file_upload" type="file" multiple="true" value="" required />
                                <div class="view">
                                    <img class='img' id="goodsImg" src="http://www.thinkphp.cn/Public/new/img/header_logo.png"  />
                                </div>
                                <input name="hideImgSrc" id="hideImgSrc" value="" type="hidden">
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>商品价格：</p>
                                <input type="text" name="price" class="price" id="price" required>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>有效状态：</p>
                                <select required id="select1" name="select1">
                                    <option value="1" selected>1</option>
                                </select>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>热销推荐：</p>
                                <select required id="select2" name="select2">
                                    <option value="2">选择状态</option>
                                    <option value="0">不推荐</option>
                                    <option value="1">推荐</option>
                                </select>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>商品类型：</p>
                                <select required id="select3" name="select3">
                                    <option>选择类型</option>
                                    <option value="0">衣服区</option>
                                    <option value="1">帽子区</option> 
                                    <option value="2">皮包区</option>
                                </select>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>商品描述：</p>
                                <input type="text" name="desc" class="desc" id="desc" required>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>库存数量：</p>
                                <input type="text" name="have" class="have" id="have" required>
                            </div>
                            <div class="goodsInfo clearfix">
                                <p>商品产地：</p>
                                <input type="text" name="city" class="city" id="city" required>
                            </div>
                             <input type="submit" class="goodsBtn" value="提交">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__js__/lib/jquery.validate.min.js"></script>
    <script src="__ROOT__/uploadify/jquery.uploadify.min.js"></script>
    <script>
        var goodsUrl = "{:U('Page/goodsPage')}";
        var root = '__ROOT__/';
        var goodsUpUrl = "{:U('Page/goodsUploadify')}";
    </script>
    <script src="__js__/base.js"></script>
    <script src="__js__/goodsPage.js"></script>
</body>
</html>
