<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理之广告信息添加界面</title>
    <link href="__css__/info.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <!-- 页面底部 -->
        <include file="./Public/common/page.html" />
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <!-- 首页 -->
                <div class="welcome">
                    <div class="row" >
                        <div class="col-md-12">
                         <h2>欢迎来到爱丽小屋后台管理系统!</h2>
                         <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__js__/base.js"></script>
</body>
</html>
