<!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  	<title>爱丽小屋首页</title>
    <link rel="stylesheet" type="text/css" href="__css__/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="__css__/swiper.min.css">
    <link rel="stylesheet" type="text/css" href="__css__/index.css">
 </head>
 <body>
 	<div class="wrap">
        <!-- 头部 -->
        <div class="header clearfix">
           <div class="headerTitle">爱丽小屋</div>
           <div class="menuBtn"></div>
        </div>
        <!-- 轮播图 -->
        <div id="myCarousel" class="carousel-fade carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators clearfix">
                <volist name="ad" id="vo" >
                    <li data-target="#myCarousel" data-slide-to="{$i-1}" class="<if condition="$i eq 1 ">active</if>"></li>
                </volist>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
            	<volist name="ad" id="vo">
	                <div class="item <if condition="$i eq 1 ">active</if>">
	                    <p class="line1">{$vo.desc1}</p>
	                    <p class="line2">{$vo.desc2}</p>
	                    <a href="{$vo.url}">
	                    	<img src="/thinkphp/uploads/{$vo.ad_img}">
	                    </a>
	                </div>
                </volist>
            </div>
            <!-- 轮播（Carousel）导航 -->
            <a class="carousel-control left" href="#myCarousel" 
                data-slide="prev">&lsaquo;
            </a>
            <a class="carousel-control right" href="#myCarousel" 
                data-slide="next">&rsaquo;
            </a>
        </div>
        <!-- 中部商品轮播 -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
            	<volist name="hot" id="hotItem">
                		<div class="swiper-slide">
		                    <a href="{:U('Detail/detail',array('id'=>$hotItem['id']))}" class="goodsItem">
		                        <div>
		                            <img src="/thinkphp/uploads/items/{$hotItem.img}">
		                            <p class="title">{$hotItem.name}</p>
		                            <div class="star"></div>
		                            <p class="price">￥<span class="money">{$hotItem.price}</span></p>
		                        </div>
		                    </a>
		                </div>
	            </volist>
            </div>
            <!-- Add Pagination -->
            <div class="pagination"></div>
        </div>
        <!-- 介绍 -->
        <div class="intro">
            <p class="aboutUs">关于我们</p>
            <p class="summary">公司创于2014年，经营至今，线下门店已有3家，线上关注粉丝接近200万。爱丽小屋着重打造时尚青年的衣橱间，带给用户最好最美的体验。</p>
        </div>
        <!-- 底部 -->
        <div class="footer">
            <p>© 2016 ailixiaowu.com All Rights Reserved Freestyle版权所有 杭州ICP备12345678号</p>
        </div>
    </div>
 	<!-- 页面底部 -->
 	<include file="./Public/common/footer.html" />

	<!-- 引入的插件 -->
    <script src="__js__/lib/bootstrap.min.js"></script>
    <script src='__js__/lib/swiper-3.4.1.jquery.min.js'></script>

  	<script src="__js__/index.js"></script>
 </html> 